<tr>
 <td>
    <div class="flex-vcenter">
        <%= votes %>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
      <%= name %>
    </div>
  </td>
  <td class="amount">
    <div class="flex-vcenter">
       <a href="<%= project %>"><%= project %></a>
    </div>
  </td>
  <td>
    <div class="flex-vcenter">
       <%= address %>
    </div>
  </td>
</tr>
